@model int?
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Página Index</h1>
    @if (Model.HasValue)
    {
        <p>Parâmetro igual a @Model.Value</p>
    }
    else
    {
        <p>Parâmetro não foi passado.</p>
    }
</div>